/* 4 - Estilização Externa */
body{
    padding-bottom: 500px;
}

h3{
    color: green;
}

p{
    color: blueviolet;
}

/* 8 - Classes*/
.paragraph{
    background-color: #000;
    color: aquamarine;
    padding: 5px;
}

/* 9 - IDs */
#exclusive-title{
    background-color: purple;
    color: yellow;
    padding: 10px;
}

/* 10 - Ordem das coisas */
h2{
    border-bottom: 2px solid red;
}

.titulo{
    border-bottom: 3px solid blue;
}

#outro-titulo{
    border-bottom: 4px solid green;
}